<footer class='sheet-footer flexrow'>
    <button type='button' data-action="save" name='save'>
        <i class='far fa-save'></i>{{localize 'SETTINGS.Save'}}
    </button>
    <button type='button' data-action="reset" name='reset'>
        <i class='fas fa-history'></i>{{localize 'SFC.CoinConfig.RestoreDefaultsButton'}}
    </button>
</footer>