<section class='tab' data-group="primary" data-tab='system'>
  <button type="button" class="sfc system-button" data-action="initActor">
    <i class="fas fa-arrow-rotate-right"></i> {{localize "SFC.CoinManager.InitButton"}}
  </button>
  <button type="button" class="sfc system-button" data-action="refreshItems">
    <i class="fas fa-arrow-rotate-right"></i> {{localize "SFC.RefreshCoinItems.SingleLabel"}}
  </button>
</section>