<div class="form-group">
    <label>{{localize 'SFC.InitActors.Title'}}</label>
    <button type="button" data-key="init-actors-button"
        style="flex:1"><label>{{localize 'SFC.InitActors.Title'}}</label></button>
</div>