<div class="form-group sfc">
    <label>{{localize 'SFC.InitActors.AllLabel'}}</label>
    <button type="button" data-key="init-actors-button" class="settings-button"><label>{{localize 'SFC.InitActors.AllLabel'}}</label></button>
</div>