<div class="form-group">
    <label>{{localize 'SFC.RefreshCoinItems.AllLabel'}}</label>
    <button type="button" data-key="refresh-coin-items-button" style="flex:1"><label>{{localize 'SFC.RefreshCoinItems.AllLabel'}}</label></button>
</div>
