<div class="form-group sfc">
    <label>{{localize 'SFC.RefreshCoinItems.AllLabel'}}</label>
    <button type="button" data-key="refresh-coin-items-button" class="settings-button"><label>{{localize 'SFC.RefreshCoinItems.AllLabel'}}</label></button>
</div>
