.sfc .coins {
    display: flex;
    gap: 0.5em;
}

.sfc .currency-display {
    width: 100%;
    white-space: nowrap;
}

.sfc .coins .value {
    font-weight: 700;
}

.sfc .coin-group {
    display: flex;
    flex-wrap: nowrap;
}

.sfc .coin-group .coin-icon {
    height: var(--form-field-height);
    border-radius: 3px 0 0 3px;
    object-fit: contain;
    min-width: 26px;
}

.swade-official .sfc .coins.manager-button,
.swpf-sheet .sfc .coins.manager-button,
.swade-official .sfc.coins.manager-button,
.swpf-sheet .sfc.coins.manager-button {
    display: flex;
    align-items: center;
    height: var(--form-field-height);
    margin: 0;
    padding: 1px 6px;
    height: 34px;
    line-height: 28px;
    white-space: nowrap;
    border: 2px groove var(--color-border-light-highlight);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 170px;
}
.swade-official .sfc .coins.manager-button,
.swpf-sheet .sfc .coins.manager-button {
    height: 27px;
}

.sfc .coin-group input {
    border-radius: 0 3px 3px 0;
    font-weight: 700;
}

.coin-config .icon {
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
}

#coin-config .wrapper-rel {
    position: relative;
    flex: 1;
    height: fit-content;
}

#coin-config .inset-label {
    position: absolute;
    /* background: rgba(0,0,0,0.5); */
    /* color: white; */
    background: rgba(0, 0, 0, 0.05);
    height: 100%;
    padding: 4px 2px;
    font-size: small;
}

#coin-config .coin-enabled-input {
    padding-left: 85px;
}

#coin-config .coin-text-input {
    padding-left: 85px;
}
.coin-config .flexcol.text-entry {
    flex: 8;
}

.coin-config .flexcol.text-entry .path,
.coin-config .flexcol.text-entry .coin {
    display: flex;
    flex: 1;
    /* margin: 0px 3px 3px 0px; */
}

.coin-config .flexrow {
    justify-content: space-around;
}

#coin-config .icon-path {
    padding-left: 35px;
}

.coin-config .flexcol {
    margin: 3px;
}

.coin-manager.tabs {
    grid-row: 1;
}

#coin-manager-sheet-body {
    margin: 10px;
}

#coin-manager-grid {
    display: block;
    margin: 10px;
}

.flexrow.coin-manager-buttons {
    justify-content: space-between;
    max-width: 300px;
    gap: 10px;
}